*{
    margin:0;
    padding: 0;
}

html {
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

body {
    font-family: 'Roboto', sans-serif;
}

section {
    border: solid black 1px;
}

.hero {
    height: 100vh;
    color: white;
    font-size: 40px;
}

footer {
    height: 500px;
    color: white;
    text-align: center;
    padding: 60px;
}

nav {
    display:flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    width: 550px;
    justify-content: space-around;
    font-size: 30px;
}

ul.show {
    display: block;
}

li {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
}

.hero-area {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.hero-text {
    margin: 40px;
    margin-bottom: 500px;
}

.button {
    --glow-color: rgb(217, 176, 255);
    --glow-spread-color: rgba(191, 123, 255, 0.781);
    --enhanced-glow-color: rgb(231, 206, 255);
    --btn-color: rgb(100, 61, 136);
    border: .25em solid var(--glow-color);
    color: white;
    background-color: var(--btn-color);
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    transition: all 0.3s;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    text-align: center;
    font-weight: 300;
    margin-top: 50px;
}

.button::after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

.button:hover {
    color: black;
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
}

.button:active {
    box-shadow: 0 0 0.6em .25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color),
    inset 0 0 .5em .25em var(--glow-color);
}

h1 {
    font-size: 80px;
    font-weight: 300;
    margin: 0;
}

h2 {
    font-size: 50px;
    font-weight: 300;
    color: white;
}

p {
    margin: 0;
    font-weight: 300;
    font-size: 40px;
}

a {
    text-decoration: none;
    color: white;
}

.socials {
    padding-bottom: 200px;
}

.social {
    margin: 20px;
}

.logo {
    height: 150px;
}

.sub {
    display: flex;
    justify-content: space-between;
    padding: 60px;
    color: white;
}

.sub-2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 60px;
}

.selfie {
    width: 500px;
    height: 500px;
}

.selfie-container {
    display: flex;
    align-items: center;
}

.project {
    width: 300px;
    height: 500px;
    border: 1px solid white;
    margin-top: 60px;
    color: white;
}

.project-container {
    display: flex;
    justify-content: space-around;
}

@media only screen and (max-width: 1000px) {
    .project-container {
        display: flex;
        flex-wrap: wrap;
    }
}

.hamburger {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .hamburger {
        display: block;
        border: 0;
        background-color: transparent;
        color: white;
        font-size: 30px;
        align-self: flex-end;
    }

    ul {
        display: none;
        margin: 0px;
    }

    nav {
        display: flex;
        flex-direction: column-reverse;
        background: rgb(63,94,251);
        background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    }
    .logo {
        display: none;
    }
}
